<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bigzero.alarmface">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AddActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".EditActivity"></activity>

        <activity
            android:name="com.example.bigzero.alarmface.wake_up.wake_up_activity"
            android:exported="true"/>
        <receiver android:name="com.example.bigzero.alarmface.wake_up.Alarm_Receiver"/>
        <service android:name="com.example.bigzero.alarmface.wake_up.RingtonePlayingService"/>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

    </application>

</manifest>